{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>

    <meta charset="UTF-8">
    <title>
        {% block title %}
        Liên hệ
        {% endblock %}
    </title>
    <!-- reponsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- main stylesheet -->
</head>

<div class="preloader"></div>

<section id="page-title" style="background-image: url('img/page-title/bg.jpg');">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>contact us</h2>
			</div>
		</div>
	</div>
</section><!-- /.page-title -->

<!-- .contact-content -->
<section class="contact-content anim-3-all">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- .section-title -->
				<div class="section-title text-center">
					<span>House Features</span>
					<h2><span>Room Dimensions</span></h2>
					<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt <br>ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
				</div><!-- /.section-title -->
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<!-- .contact-form-wrap -->
				<div class="contact-form-wrap">
					<form action="http://world5.commonsupport.com/html/apart-villa/inc/sendemail.php" class="contact-form">
						<p><input name="name" type="text" placeholder="Name"></p>
						<p><input name="email" type="text" placeholder="E-mail"></p>
						<p><input name="subject" type="text" placeholder="Subject"></p>
						<p><textarea name="message" placeholder="Message"></textarea></p>
						<p><button type="submit">submit now</button></p>
					</form>
				</div><!-- /.contact-form-wrap -->
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<!-- .agent-info -->
				<div class="agent-info style-two text-center">
					<img src="img/contact/1.png" alt="">
					<!-- .content -->
					<div class="content">
						<h3>Marry Doe</h3>
						<p class="certificate">(Remax Certified Agent)</p>
						<p>Phone : 604-786-4440</p>
						<p>Email : info@contactmarrry.com</p>
					</div><!-- /.content -->
					<div class="social-icons">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div><!-- /.agent-info -->
			</div>
		</div>
		<!-- .call-to-action -->
		<div class="call-to-action style-two clearfix">
			<div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
				<!-- .call-to-action-text -->
				<div class="call-to-action-text">
					<h2>Interesting in a showing</h2>
					<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet  consectetur adipisci velit sed</p>
				</div><!-- /.call-to-action-text -->
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 text-center">
				<button  data-toggle="modal" data-target="#contact-agent-modal">shedule a visit</button>
			</div>
		</div><!-- /.call-to-action -->
	</div>
</section><!-- /.contact-content -->

<!-- #home-footer-google-map-wrap -->
<section id="home-footer-google-map-wrap">
	<div class="google-map" id="home-footer-google-map" data-map-lat="-37.812802" data-map-lng="144.956981"  data-map-zoom="12" data-map-overlay-clr="rgba(0,0,0, 0.4)" data-info-window="true"></div>
	
	<div class="info-window" data-map-name="home-footer-google-map">
		<!-- .house-location -->
		<div class="house-location">
			<p>Chris Niswandee, Smallsys Inc 795 E Dragram, Tucson AZ 56879 <br> USA</p>
		</div><!-- /.house-location -->
	</div>
</section><!-- /#home-footer-google-map-wrap -->

<!-- #footer-home -->

<!-- Modal -->
<div class="modal fade" id="contact-agent-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title text-center" id="myModalLabel">Contact Our Agent</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<div class="modal-agent-info-box">
					<div class="img-holder">
						<img src="img/contact-agent-modal/1.png" alt="">
					</div>
					<div class="content">
						<h3><span class="name">Marry Doe</span> <span class="position">(Remax Certified Agent)</span></h3>
						<p>Phone : +1800 548 963 &emsp; Email : info@contactmarrry.com</p>
					</div>
				</div>
				<div class="modal-contact-form">
					<!-- .contact-form-wrap -->
					<div class="contact-form-wrap anim-5-all">
						<form action="http://world5.commonsupport.com/html/apart-villa/inc/sendemail.php" class="contact-form row">
							<div class="col-md-6">
								<p><input name="name" type="text" placeholder="Name"></p>
								<p><input name="phone" type="text" placeholder="Phone"></p>
								<p><input name="email" type="text" placeholder="Email"></p>
							</div>
							<div class="col-md-6">
								<p><textarea name="message" placeholder="Message"></textarea></p>
								<p><button type="submit">Get Appointment</button></p>
							</div>
						</form>
					</div><!-- /.contact-form-wrap -->					
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}