<footer id="footer-home" class="anim-5-all text-center-sm text-center-xs">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-left">
          <a href="#"><img src="img/resources/footer-logo.png" alt=""></a>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 pull-right text-right text-center-sm text-center-xs">
          <!-- .footer-menu -->
          <div class="footer-menu">
            
              <li><a href="contact.html">LIÊN HỆ</a></li>
              <p>Diễn Giả Phạm Tuấn Anh</p>
              <p>Địa chỉ: Phòng 502 GIC Tower - 18A, Nguyễn Gia Trí, Phường 25, Bình Thạnh, TPHCM</p>
              <p>Email: lioninvestco@gmail.com - Hotline: 0911.100.502</p>
            
          </div><!-- /.footer-menu -->
          <!-- .footer-copyright -->
          <div class="footer-copyright">
            <p>Copyright &copy; Lion Invest</p>
          </div><!-- /.footer-copyright -->
        </div>
      </div>
    </div>
  </footer><!-- /#footer-home -->