{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
	<meta charset="UTF-8">
	{% block head_title %}
		Diễn Đàn
	{% endblock %}
	<!-- reponsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<div class="preloader"></div>
<section id="page-title" style="background-image: url('img/page-title/bg.jpg');">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Blog Details Right Sidebar</h2>
			</div>
		</div>
	</div>
</section><!-- /#page-title -->

<!-- .blog-container.single-blog-page -->
<section class="blog-container two-side-background single-blog-page ">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 white-left left-content ptb-80">
				<!-- .single-blog-post -->
				<div class="single-blog-post single-page-content anim-5-all">
					<!-- .img-holder -->
					<div class="img-holder">
						<img src="img/blog-post/1.jpg" alt="">						
					</div><!-- /.img-holder -->
					<div class="post-meta">
						<div class="date-holder">
							<b>09</b> Aug
						</div>
						<div class="title-holder">
							<h2 class="title">Blog heading goes here</h2>
							<ul>
								<li><a href="#">By Michale John</a></li>
								<li><a href="#">Home made pizza</a></li>
								<li><a href="#">Comments: 5</a></li>
							</ul>
						</div>
					</div>
					<div class="content">
						<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid etx ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>

						<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid etx ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
						<br> 
						<ul class="list-item style-two dtc">
							<li>Ut enim ad minima veniam,</li>
							<li>Quis nostrum exercitationem</li>
							<li>Ellam corporis suscipit laboriosa</li>
							<li>Nisi ut aliquid etx ea</li>
							<li>Commodi consequaturis arepreh</li>
						</ul>
						<ul class="list-item style-two dtc">
							<li>Ut enim ad minima veniam,</li>
							<li>Quis nostrum exercitationem</li>
							<li>Ellam corporis suscipit laboriosa</li>
							<li>Nisi ut aliquid etx ea</li>
							<li>Commodi consequaturis arepreh</li>
						</ul>
						<h2>Two Column Text Sample</h2>
						<br>
						<div class="row">
							<div class="col-sm-6">
								<p>Ut enim ad minima veniam, quis nostrum exercita- tio nem ullam corporis suscipit laboriosam, nisi ut aliqu id ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui.</p>
							</div>
							<div class="col-sm-6">
								<p>Ut enim ad minima veniam, quis nostrum exercita- tio nem ullam corporis suscipit laboriosam, nisi ut aliqu id ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui.</p>
							</div>
						</div>
						<br>
						<div class="quote-box dt">
							<i class="fa fa-quote-left dtc"></i>
							<div class="quote-content dtc">
								<p>Ut enim ad minima veniam, quis nostrum exercitatio nem ullam corporis suscipit labori osam, nisi ut aliqu id ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
								<span class="name">
									- Michale John
								</span>
							</div>
						</div>
						<br> <br>
						<p><b style="color: #8E8D8D;font-style: italic;">Here is main text</b> quis nostrud exercitation ullamco laboris nisi here is itealic text ut aliquip ex ea comm- odo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat here is link text cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					
					<!-- .author-box -->
					<div class="author-box">
						<!-- .top-author-info -->
						<div class="top-author-info dt">
							<!-- .img-holder -->
							<div class="img-holder dtc">
								<img src="img/blog-single/author.png" alt="">
							</div><!-- /.img-holder -->
							<div class="top-author-info-content dtc">
								<h4>administrator <span>(Michale John)</span></h4>
								<p>Ut enim ad minima veniam, quis nostrum exercitatio nem ullam corporis susc ipit laboriosam, nisi ut aliqu id ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit.</p>
							</div>
						</div><!-- /.top-author-info -->
						<div class="bottom-author-info clearfix">
							<div class="submitted-post">
								<span>Total 12 Posts </span>
							</div>
							<div class="social-icons">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								</ul>
							</div>
						</div>
					</div><!-- /.author-box -->

					<div class="comment-box">
						<h3>Comments <span>(4)</span></h3>
						<!-- .comment-holder -->
						<div class="comment-holder">
							<!-- .single-comment -->
							<div class="single-comment">
								<!-- .img-holder -->
								<div class="img-holder">
									<img src="img/blog-single/comment1.jpg" alt="">
								</div><!-- /.img-holder -->
								<div class="content">
									<h4>Merry John</h4>
									<p>Duis aute irure dolor in reprehenderit in vol uptate velit esse cillum dolore eu fugiat nulla pari atur. Excepteur sint occaecat cupidatat non proid pent.</p>
									<ul class="meta">
										<li><a href="#" class="date">Aug 26 2014</a></li>
										<li><a href="#" class="reply">Reply</a></li>
									</ul>
								</div>
							</div><!-- /.single-comment -->
							<!-- .single-comment -->
							<div class="single-comment">
								<!-- .img-holder -->
								<div class="img-holder">
									<img src="img/blog-single/comment2.jpg" alt="">
								</div><!-- /.img-holder -->
								<div class="content">
									<h4>Merry John</h4>
									<p>Duis aute irure dolor in reprehenderit in vol uptate velit esse cillum dolore eu fugiat nulla pari atur. Excepteur sint occaecat cupidatat non proid pent.</p>
									<ul class="meta">
										<li><a href="#" class="date">Aug 26 2014</a></li>
										<li><a href="#" class="reply">Reply</a></li>
									</ul>
								</div>
							</div><!-- /.single-comment -->
							<!-- .single-comment -->
							<div class="single-comment">
								<!-- .img-holder -->
								<div class="img-holder">
									<img src="img/blog-single/comment3.jpg" alt="">
								</div><!-- /.img-holder -->
								<div class="content">
									<h4>Merry John</h4>
									<p>Duis aute irure dolor in reprehenderit in vol uptate velit esse cillum dolore eu fugiat nulla pari atur. Excepteur sint occaecat cupidatat non proid pent.</p>
									<ul class="meta">
										<li><a href="#" class="date">Aug 26 2014</a></li>
										<li><a href="#" class="reply">Reply</a></li>
									</ul>
								</div>
							</div><!-- /.single-comment -->
							<!-- .single-comment -->
							<div class="single-comment">
								<!-- .img-holder -->
								<div class="img-holder">
									<img src="img/blog-single/comment1.jpg" alt="">
								</div><!-- /.img-holder -->
								<div class="content">
									<h4>Merry John</h4>
									<p>Duis aute irure dolor in reprehenderit in vol uptate velit esse cillum dolore eu fugiat nulla pari atur. Excepteur sint occaecat cupidatat non proid pent.</p>
									<ul class="meta">
										<li><a href="#" class="date">Aug 26 2014</a></li>
										<li><a href="#" class="reply">Reply</a></li>
									</ul>
								</div>
							</div><!-- /.single-comment -->
						</div><!-- /.comment-holder -->
					</div>
					<!-- .comment-form -->
					<div class="comment-form">
						<h3>Leave a Comment</h3>
						
						<form action="#">
							<div class="form-group">
								<p class="half">
									<input type="text" placeholder="Enter Your Name">
								</p>
								<p class="half">
									<input type="text" placeholder="Enter Your Email">
								</p>
							</div>
							<p><textarea placeholder="Write Your Message"></textarea></p>
							<button type="submit">Submit Now</button>
						</form>

					</div><!-- /.comment-form -->

				</div><!-- /.single-blog-post -->

			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ptb-80">
				<!-- .sidebar-wrap -->
				<div class="sidebar-wrap gray anim-5-all">
					<!-- .single-sidebar -->
					<div class="single-sidebar">
						<h3><span>Search</span></h3>
						<form action="#">
							<input type="text" placeholder="Enter Search Keywords">
							<button><i class="icon icon-Search"></i></button>
						</form>
					</div><!-- /.single-sidebar -->
					<!-- .single-sidebar -->
					<div class="single-sidebar">
						<h3><span>categories</span></h3>
						<ul class="categories">
							<li><a href="#">Aminities at Apart villa</a></li>
							<li><a href="#">Near by places</a></li>
							<li><a href="#">Property updates</a></li>
							<li><a href="#">University near villa</a></li>
							<li><a href="#">Property type and title clear</a></li>
							<li><a href="#">Property highlights</a></li>
						</ul>
					</div><!-- /.single-sidebar -->
					<!-- .single-sidebar -->
					<div class="single-sidebar">
						<h3><span>Popular Posts</span></h3>
						<ul class="popular-post">
							<li>
								<!-- .img-holder -->
								<div class="img-holder">
									<img src="img/popular-post/1.jpg" alt="">
								</div><!-- /.img-holder -->
								<div class="content">
									<h4><a href="#">UNIVERSITY NEAR TO Apatt VILLA</a></h4>
									<span>Aug 12,2015</span>
								</div>
							</li>
							<li>
								<!-- .img-holder -->
								<div class="img-holder">
									<img src="img/popular-post/2.jpg" alt="">
								</div><!-- /.img-holder -->
								<div class="content">
									<h4><a href="#">UNIVERSITY NEAR TO Apatt VILLA</a></h4>
									<span>Aug 12,2015</span>
								</div>
							</li>
							<li>
								<!-- .img-holder -->
								<div class="img-holder">
									<img src="img/popular-post/3.jpg" alt="">
								</div><!-- /.img-holder -->
								<div class="content">
									<h4><a href="#">UNIVERSITY NEAR TO Apatt VILLA</a></h4>
									<span>Aug 12,2015</span>
								</div>
							</li>
						</ul>
					</div><!-- /.single-sidebar -->
					<!-- .single-sidebar -->
					<div class="single-sidebar">
						<h3><span>Tags Clouds</span></h3>
						<ul class="tag-cloud">
							<li><a href="#">Most Popular places</a></li>
							<li><a href="#">Rooms</a></li>
							<li><a href="#">top rated Villas</a></li>
							<li><a href="#">Tips & Tricks</a></li>
							<li><a href="#">Real news</a></li>
							<li><a href="#">OUr Agents</a></li>
						</ul>
					</div><!-- /.single-sidebar -->
					<!-- .single-sidebar -->
					<div class="single-sidebar">
						<h3><span>Meet Our Agent</span></h3>
						<a href="#"  data-toggle="modal" data-target="#contact-agent-modal"><div class="agent-box">
							<img src="img/resources/sidebar-agent.jpg" alt="">
							<div class="name">
								<h4>Merry Disalva</h4>
							</div>
						</div></a>
					</div><!-- /.single-sidebar -->
				</div><!-- /.sidebar-wrap -->
			</div>
		</div>
	</div>
</section><!-- /.blog-container.single-blog-page -->


<!-- Modal -->
<div class="modal fade" id="contact-agent-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title text-center" id="myModalLabel">Contact Our Agent</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<div class="modal-agent-info-box">
					<div class="img-holder">
						<img src="img/contact-agent-modal/1.png" alt="">
					</div>
					<div class="content">
						<h3><span class="name">Marry Doe</span> <span class="position">(Remax Certified Agent)</span></h3>
						<p>Phone : +1800 548 963 &emsp; Email : info@contactmarrry.com</p>
					</div>
				</div>
				<div class="modal-contact-form">
					<!-- .contact-form-wrap -->
					<div class="contact-form-wrap anim-5-all">
						<form action="http://world5.commonsupport.com/html/apart-villa/inc/sendemail.php" class="contact-form row">
							<div class="col-md-6">
								<p><input name="name" type="text" placeholder="Name"></p>
								<p><input name="phone" type="text" placeholder="Phone"></p>
								<p><input name="email" type="text" placeholder="Email"></p>
							</div>
							<div class="col-md-6">
								<p><textarea name="message" placeholder="Message"></textarea></p>
								<p><button type="submit">Get Appointment</button></p>
							</div>
						</form>
					</div><!-- /.contact-form-wrap -->					
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}