{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
	<meta charset="UTF-8">
	<title>
		{% block head_title %}
		Về Diễn Giả
		{% endblock %}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="preloader"></div>
<!-- /.preloader -->

<!-- #page-title -->
<section id="page-title" style="background-image: url('img/page-title/bg.jpg');">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Agent Page</h2>
			</div>
		</div>
	</div>
</section><!-- /#page-title -->




<section class="about-agent anim-3-all">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="img-holder">
					<img src="img/about-agent/1.jpg" alt="">
					<div class="social-icons">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>

			</div>
			<div class="col-md-7">
				<div class="agent-info-text">
					<!-- .section-title -->
					<div class="section-title">
						<span>Real Estate Agent</span>
						<h2><span>Michale John</span></h2>				
					</div><!-- /.section-title -->
					<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit labo- riosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure repre- henderit qui in ea voluptate velit esse quam nihil molestiae.</p>
					
					<div class="contact-button">
						<ul>
							<li class="hvr-bounce-to-right">
								<span class="icon-box"><i class="fa fa-phone"></i></span> 
								<span class="text">+ 91 865 9575 963</span></li>
							<li class="hvr-bounce-to-right">
								<span class="icon-box"><i class="fa fa-envelope-o"></i></span>
								<span class="text">john@attorney.com</span>
							</li>
						</ul>
					</div>
					<!-- .section-title -->
					<div class="section-title style-two">
						<h2><span>Practice Areas:</span></h2>				
					</div><!-- /.section-title -->

					<ul class="practice-areas">
						<li>Real Estate Brokarage Servicve</li>
						<li>Any Type of House Rental Services</li>
						<li>Home Loan Senction from Govt. banks</li>
						<li>Appartments & Villa Sale Purchase</li>
					</ul>

				</div>
			</div>
		</div>
	</div>
</section>



<section class="agent-experience">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- .section-title -->
				<div class="section-title">
					<span>My work Experience</span>
					<h2><span>Professional Experience</span></h2>				
				</div><!-- /.section-title -->

				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatu.</p>

				<p><b>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,</b></p>

				<p>sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
			</div>
		</div>
	</div>
</section>

<section id="location-neighbouring" class="style-two">
	<div class="container">
		<!-- .section-title -->
		<div class="section-title text-center">
			<span>Về Học Viên</span>
			<h2><span>Học viên tiêu biểu & cảm nhận</span></h2>
			<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt <br>ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
		</div><!-- /.section-title -->
		<div class="row">
			<div class="col-md-2 col-sm-4">
				<div class="single-neighbour">
					<h3>Chuyên Gia</h3>
					<p>Là 1 chuyên gia về đầu tư bất động sản</p>
					<p class="distance"><span class="number">20</span> Năm</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-4">
				<div class="single-neighbour">
					<h3>Diễn giả</h3>
					<p>Là bậc thầy về đào tạo đầu tư bất động sản</p>
					<p class="distance"><span class="number">10</span> Năm</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-4">
				<div class="single-neighbour">
					<h3>Dự án</h3>
					<p>Là nhà đầu tư của nhiều dự án lớn, nhỏ</p>
					<p class="distance"><span class="number">100 </span> Dự án</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-4">
				<div class="single-neighbour">
					<h3>Người dẫn đường</h3>
					<p>Truyền cảm hứng và tri thức đến học viên</p>
					<p class="distance"><span class="number">1000</span> Học viên</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-4">
				<div class="single-neighbour">
					<h3>Đào tạo</h3>
					<p>Tổ chức rất nhiều lớp học đầu tư</p>
					<p class="distance"><span class="number">100</span> Lớp</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-4">
				<div class="single-neighbour">
					<h3>Bank</h3>
					<p>Council Bluffs 12</p>
					<p class="distance"><span class="number">1</span> Km</p>
				</div>
			</div>
		</div>
	</div>
</section><!-- /#location-neighbouring -->

<section class="testimonial has-overlay parallax-section" style="background-image: url(img/testimonials/bg.jpg);">
	<div class="container">
		<!-- .testimonial-wrap -->
		<div class="testimonial-wrap-style-two">
			<div class="clearfix">
				<div class="owl-carousel owl-theme">
					<!-- .single-testimonail -->
					<div class="single-testimonail item">
						<div class="img-holder">
							<img src="img/testimonials/2.png" alt="">
						</div>
						<div class="content clearfix">
							<p><span class="qoute">“</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nstrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
							<div class="meta">
								<span class="name">- Michale John</span>
								<span class="postion">Spsum is simply dummy</span>
							</div>
						</div>
					</div><!-- /.single-testimonail -->
					<!-- .single-testimonail -->
					<div class="single-testimonail item">
						<div class="img-holder">
							<img src="img/testimonials/2.png" alt="">
						</div>
						<div class="content clearfix">
							<p><span class="qoute">“</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nstrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
							<div class="meta">
								<span class="name">- Michale John</span>
								<span class="postion">Spsum is simply dummy</span>
							</div>
						</div>
					</div><!-- /.single-testimonail -->
					<!-- .single-testimonail -->
					<div class="single-testimonail item">
						<div class="img-holder">
							<img src="img/testimonials/2.png" alt="">
						</div>
						<div class="content clearfix">
							<p><span class="qoute">“</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nstrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
							<div class="meta">
								<span class="name">- Michale John</span>
								<span class="postion">Spsum is simply dummy</span>
							</div>
						</div>
					</div><!-- /.single-testimonail -->
					<!-- .single-testimonail -->
					<div class="single-testimonail item">
						<div class="img-holder">
							<img src="img/testimonials/2.png" alt="">
						</div>
						<div class="content clearfix">
							<p><span class="qoute">“</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nstrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
							<div class="meta">
								<span class="name">- Michale John</span>
								<span class="postion">Spsum is simply dummy</span>
							</div>
						</div>
					</div><!-- /.single-testimonail -->
				</div>
			</div>
		</div><!-- /.testimonial-wrap -->
	</div>
</section>

<section class="agent-interview">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="img-holder">
					<img src="img/agent-interview/1.jpg" alt="">
					<div class="content">
						<a class="video-fancybox" title="Awesome RealEsate" href="http://www.youtube.com/v/QTMhCsahj2k?fs=1&amp;autoplay=1"><i class="fa fa-play-circle"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<!-- .section-title -->
				<div class="section-title">
					<span>A Few Words My Experiences</span>
					<h2><span>My Interview</span></h2>				
				</div><!-- /.section-title -->
				<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi con- sequatur? Quis autem vel eum iure reprehenderit qui in ea vo- luptate velit esse quam nihil molestiae.</p>
				<a href="#" class="btn">See More Videos</a>
			</div>
		</div>
	</div>
</section>


<section class="agent-interview">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="img-holder">
					<img src="img/agent-interview/1.jpg" alt="">
					<div class="content">
						<a class="video-fancybox" title="Awesome RealEsate" href="http://www.youtube.com/v/QTMhCsahj2k?fs=1&amp;autoplay=1"><i class="fa fa-play-circle"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<!-- .section-title -->
				<div class="section-title">
					<span>A Few Words My Experiences</span>
					<h2><span>My Interview</span></h2>				
				</div><!-- /.section-title -->
				<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi con- sequatur? Quis autem vel eum iure reprehenderit qui in ea vo- luptate velit esse quam nihil molestiae.</p>
				<a href="#" class="btn">See More Videos</a>
			</div>
		</div>
	</div>
</section>


<section class="contact-agent contact-content anim-5-all">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- .section-title -->
				<div class="section-title text-center">
					<span>Drop Your Message</span>
					<h2><span>Contact with Agent</span></h2>				
				</div><!-- /.section-title -->
				<!-- .contact-form-wrap -->
				<div class="contact-form-wrap">
					<form action="http://world5.commonsupport.com/html/apart-villa/inc/sendemail.php" class="contact-form">
						<p><input name="name" type="text" placeholder="Name"></p>
						<p><input name="phone" type="text" placeholder="Phone Number"></p>						
						<p><input name="email" type="text" placeholder="E-mail"></p>
						<p><input name="subject" type="text" placeholder="Subject"></p>
						<p><textarea name="message" placeholder="Message"></textarea></p>
						<p><button type="submit">submit now</button></p>
					</form>
				</div><!-- /.contact-form-wrap -->
			</div>
		</div>
	</div>
</section>

<!-- Modal -->
<div class="modal fade" id="contact-agent-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title text-center" id="myModalLabel">Contact Our Agent</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<div class="modal-agent-info-box">
					<div class="img-holder">
						<img src="img/contact-agent-modal/1.png" alt="">
					</div>
					<div class="content">
						<h3><span class="name">Marry Doe</span> <span class="position">(Remax Certified Agent)</span></h3>
						<p>Phone : +1800 548 963 &emsp; Email : info@contactmarrry.com</p>
					</div>
				</div>
				<div class="modal-contact-form">
					<!-- .contact-form-wrap -->
					<div class="contact-form-wrap anim-5-all">
						<form action="http://world5.commonsupport.com/html/apart-villa/inc/sendemail.php" class="contact-form row">
							<div class="col-md-6">
								<p><input name="name" type="text" placeholder="Name"></p>
								<p><input name="phone" type="text" placeholder="Phone"></p>
								<p><input name="email" type="text" placeholder="Email"></p>
							</div>
							<div class="col-md-6">
								<p><textarea name="message" placeholder="Message"></textarea></p>
								<p><button type="submit">Get Appointment</button></p>
							</div>
						</form>
					</div><!-- /.contact-form-wrap -->					
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}